
.paginator {
padding: 10px;
display: flex;
margin: auto;
justify-content: center;
align-items: center;
text-align: center;

button {
    display: flex;
    align-items: center;
    margin: 5px;

    &.badge {
    font-size: 13px;
    padding-left: 10px;
    border-radius: 50%;
    cursor: default;
    min-width: 30px;
    height: 30px;

    &:hover {
        background-color: #fcf1ee;
        cursor: pointer;
    }

    &.current {
        background-color: #000;
        cursor: default;
        color: #fff;
    }
    }
}

.center {
    align-self: center;
}
}
